# markdown
## markdown
### markdown
#### markdown
##### markdown
###### markdown

* *krishnasai*

![image](https://cdn.pixabay.com/photo/2018/10/30/16/06/water-lily-3784022__340.jpg)

* [crt]
 [crt]:https://sites.google.com/view/crt-gitam-batch-1/home

In [3]:
print("hello,gitam")
print("hi")

hello,gitam
hi

In [4]:
print("hello,gitam",end="hi")

hello,gitamhi

In [10]:
a=10
a=b=c=1
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [11]:
a="python"
type(a)

str

In [12]:
a=10.5
type(a)

float

In [14]:
a=10
b=10.5
print(type(a))
type(a)
type(b)

<class 'int'>

float

In [15]:
name="krishna sai"
age="20"
print("my name is",name,"my age is",age)

my name is krishna sai my age is 20

In [16]:
input("enter a string")
type(a)

enter a string123

int

In [18]:
c=int(input("enter a number"))
type(c)

enter a number123

int

In [19]:
d=float(input("enter a number"))
type(d)

enter a number123

float

In [20]:
a=int(input("enter a number"))
c=int(input("enter a number"))
d=a+c
print(d)

enter a number123
enter a number123
246

In [21]:
x=10
print(x)
type(x)

10

int

In [22]:
y=1.2
print(y)
type(y)

1.2

float

In [23]:
z=1+3j
print(z)
type(z)

(1+3j)

complex

In [25]:
x=float(12)
x

12.0

In [26]:
y=complex(2,1)
y

(2+1j)

In [28]:
c1=1-2j
c2=3+4j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(4+2j)
(-2-6j)
(11-2j)

In [29]:
a=True
type(a)

bool

In [30]:
a=5
b=6
a>b

False

In [31]:
s1="abc"
s2="abc"
print(s1)
s2

abc

'abc'

In [32]:
type(s1)
type(s2)

str

In [33]:
i=100
print(type(1))

<class 'int'>

In [34]:
s1=str(i)
print(s1)
type(s1)

100

str

In [36]:
f1=float(i)
print(f1)
type(f1)

100.0

float

In [38]:
a='1234'
len(a)

4

In [39]:
4/2

2.0

In [40]:
4%2

0

In [41]:
4*2

8

In [42]:
4**2

16

In [43]:
a=10
b=20
print("addition is",a+b)
print("subtractuion is",a-b)
print("multiplication is",a*b)
print("division is",a/b)

addition is 30
subtractuion is -10
multiplication is 200
division is 0.5

In [44]:
-12/5

-2.4

In [45]:
-12//5

-3

In [47]:
x=2
y=3
print(x>=5 and x<10)
print(x>=5 or x<=10)
print(not(x))

False
True
False

In [49]:
str1="abc"
print('a' in str1)
print('a'not in str1)

True
False

In [51]:
a=-40
if a>0:
    print("positive")
else:
        print("negative")

negative

In [54]:
a=0
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

zero